h1,h2{
	color: gray;
	text-align: center;
}
	
p{
	color: black;
	font-family: arial;
	font-size: 22px;
}

.bg-color{ 
	Background-color: gray;
}

p.teknik{
	color: green;
	Background-color: blue;
	text-align: center;
}

p.teknik2{
	text-align: right;
}

a {
	text-decoration: none;
}

p.Border{
	border:8px solid black;
}

.container{
	display: grid;
	grid-template-columns; 750px 750px;
	grid-template-rows: auto;
}