h1,h2{}
	
p {
	color: red;
	font-family: arial;
	font-size: 22px;
}

p{
	color: black;
	font-size: 150%;
} 


.bgcolor{ 
	Background-color: gray;
}

.teknik{
	color: green;
	Background-color: blue;
	text-align: Center;
}

.teknik2{
	text-align: right;
}

a{
	text-decoration: none;
}

.border{
	border:8px solid black;
}

.container {
	display: grid;
	grid-template-columns: 100px 100px;
	grid-template-rows: auto;
	grid-template-areas: "header header"
						  "sidebar main"
						  "footer footer";

}