h1,h2{
p{	
		color: red;
		font-family: arial;
		font-size: 22px;
}

p {
	font-size: 150%;
	color:blue;
}

.bg.color{ 
Background-color: gray;

}

p.teknik{
color:green;
Background-color: blue;
	text-align: Center;
}

p.teknik2{
	text-align: right;

}
a {
	text-decoration: none;
}

p.border{
	border:8px solid black;
}