h1,h2{
	color: gray;
	text-align: center;
}
	
p{
	color: black;
	font-family: arial;
	font-size: 22px;
}

.bgcolor{ 
	Background-color: gray;
}

.teknik{
	color: green;
	Background-color: blue;
	text-align: center;
}

.teknik2{
	text-align: right;
}

a{
	text-decoration: none;
}

.border{
	border:8px solid black;
}
