.container{ 	
	display: grid;
	grid-template-columns: 5hv 1fr 1fr 1fr 1fr 5hv;
	grid-template-rows: 100px 55px 200px 400px;
	grid-template-areas:
	". header header header header ."
	". nav nav nav nav ."
	". main main main main ."
	". footer footer footer footer .";
}

header{
		grid-area: header;
		font-family: Trebuchet MS;
		font-size: 15px;
		border: 2px solid white;
		text-align: center;
		background-color: lightcyan;
}

main{
	grid-area: main;
	background-color: azure;
}

p.main{
	color: darkslategrey;
	font-family: tahoma;

}

footer{
	grid-area: footer;
	font-family: Trebuchet MS;
	background-color: darkorange;
}

body{
	background-color: thistle;
}

a{
	text-decoration: none;
	color: silver;
	
}
a:hover{
	color: gold;
}

nav{
	grid-area: nav;
	text-align: center;
	background-color: DarkCyan;
	border: 4px white;

}
ul{
	list-style-type: none;
	padding: 0;
	border: 1px white;

}

nav ul{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	background-color: chocolate;
	border: 2px solid slategrey;
}